@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";
@import "header.scss";
@import "results.scss";
@import "country-info.scss";
@import "favourite-list.scss";

body {
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: $prime-font;
}

* {
    box-sizing: border-box;
}

