@mixin header($color) {
    margin: 10px;
    padding: 10px 0px 0px 35px;
    color: $color;
    opacity: 1;
    font-family: $prime-font;
}

@mixin block($width, $height, $color, $opacity) {
    width: $width;
    height: $height;
    margin: 0 auto;
    background: rgba($color, $opacity);
}

@mixin info() {
    margin-left: 0 auto;
    max-width: 100px;
    background: rgba(0,0,0,0.8);
    color:$secondary-color;
    padding: 5px;
    text-align: center;
}
